body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

canvas {
    border: 1px solid black;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    background-color: #808080;  /* Fondo gris */
}

.controls {
    text-align: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}